GITHUB_TOKEN=
GPG_KEY_ID=
REPO_ORIGIN=deb2repo
BASE_REPO_PATH=/app/repo
DB_URL=sqlite:////app/state/repo_state.db
KEEP_COUNT=2
HOSTED_ARCHS=amd64,arm64,i386,all
KNOWN_CODENAMES=buster,bullseye,bookworm,trixie,sid,forky,jammy,noble,questing,resolute
UNSTABLE_KEYWORDS=rc,alpha,beta,dev,pre,nightly,test,snapshot
POLLING_INTERVAL=15m
API_TOKEN=
